<div>
    <button style="margin: 10px"><a href="/terrorists" style="color: black; text-decoration: none">Add terrorist</a></button><br>

    <h3 style="margin: 10px">Terrorists: </h3>
    <ul>
        {{#if terrorists}}
        {{#each terrorists}}
        <li>{{name}} --- HP: {{health}}, DMG: {{damage}}, GOOD: {{isGoodTerrorist}}</li>
        {{/each}}
        {{/if}}
    </ul>
</div>