<div class="jumbotron">
  <h1 class="display-4">Terrorists App</h1>
  <p class="lead">This app handles mighty Al-Qaeda</p>
  <hr class="my-4">

 <ul class="list-group">
  <li class="list-group-item">
    <a href="terrorists">Terroists list</a>
    </li>
  <li class="list-group-item">
  <a href="terrorists/add"> Add new terrorist</a>
 
  </li>
</ul>
</div>