{{#if list}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {{#each list as |terrorist terroristId|}}
    <tr>
      <td>{{terrorist.id}}</td>
      <td>{{terrorist.name}}</td>
      <td><a class="btn btn-primary" href="/terrorists/remove/{{terrorist.id}}">Remove</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#else}}
<p>Empty data set</p>
{{/else}}
{{/if}}

